@import "style.css";

body {
    padding: 0 12px;
    line-height: 1.6;
}

/* Header */
header {
    padding: 25px 0 15px 0;
    text-align: center;
}

h1 {
    font-size: 32px;
    letter-spacing: 2px;
}

.grid4:first-of-type {
    display: block;
    padding: 20px 0 30px 0;
}

.grid4:first-of-type img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto 30px auto;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    display: block;
    font-size: 15px;
    padding: 6px 0;
}

section {
    padding: 30px 0;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

h3 {
    font-size: 18px;
    margin: 40px 0 20px 0;
    text-align: center;
}

p {
    font-size: 14px;
    margin-bottom: 12px;
}

ul,
ol {
    padding-left: 18px;
    margin-top: 10px;
}

ul li,
ol li {
    margin-bottom: 10px;
}


main .grid4 {
    display: block; /* remove grid */
    padding: 20px 0 40px 0;
}

main .grid4 .item {
    margin-bottom: 30px;
    padding: 0;
}

main .grid4 img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    padding: 25px 0;
    font-size: 12px;
}