@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: 'Roboto', sans-serif;
    font-weight:100;
    font-style: italic; */

body{
    background-color: rgb(215, 211, 211);
    text-align:center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

h1, h2, h3 {
    color: rgb(52, 51, 51);
    text-align: center;
    text-decoration: none;
}

p {
   font-family: 'Roboto', sans-serif;
   font-weight: 200;
   font-style: normal;
}
header > p {
    text-align: center;
    font-family: sans-serif;
}

nav > ul {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: left;
    justify-items: left;
    align-content: left;
    align-items: left;
}

/*nav > ul > li {
    padding: 30px;
    list-style: none; /* removes dots from list elements */
   /* background-color: black;*/

nav > ul > li > a {
    color: rgb(52, 51, 51);
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: rgb(205, 230, 255);
}

div > img {
    width: 600px;
    height:auto;
    
}
/* .grid{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
*/ 
.grid3{
    height: 400px;
    display:grid;
    grid-template-rows: 200px;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: start;

}
.grid4{
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}
.grid4 img{
    width: 100%;
    
}