body, header {
    background-color: rgb(0, 0, 0);
}

h1, h2, h3 {
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
}

header > p {
    text-align: center;
    font-family: sans-serif;
}

nav > ul {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

nav > ul > li {
    padding: 30px;
    list-style: none; /* removes dots from list elements */
    background-color: black;
}

nav > ul > li > a {
    color: blue;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: blanchedalmond;
}

div > img {
    width: 300px;
}
